@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html{
    font-size: 14px;
}
body{
    font-family: 'Noto Sans',sans-serif;
}
a{
    text-decoration: none;
}

.carousel-item img {
    object-fit: cover;
    object-position: top;
    height: 60vh;
    overflow: hidden;
}

.old_price {
    font-weight: bold;
    color: brown;

}

.new_price {
    font-weight: bold;
    background-color:cornflowerblue;
    color: black;
    padding: 2px;
    border-radius: 5px;
}

.pic-box{
    position: relative;
}

.hot {
    background-color: orangered;
    color: white;
    width: auto;
    text-align: center;
    font-weight: bold;
    display: inline;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;
}
